body {
	background-color: #eb4034;
	text-align:center;
}

.navbar {
	background-color:white !important;
}

.navimg {
	height="4%"
}

.bodyimg {

}

.announcement {
	background-color:white;
	margin-left:27%;
	margin-right:27%;
}

ul {
	list-style-type:none;
}

.btn-dark {
    background-color: #cb4034;
    border-color: white;
    border: 5px solid white;
}

.signupbutton {
    padding: 1rem 2rem;
    border-radius: 30px;
}
